.view-1 {
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
}
.overlay {
  background-image: url("/img/bg2.jpg");
  height: 100%;

  background-size: cover;
  background-position: center;
}
.content-box {
  height: calc(100vh - 80px);
}

header {
  height: 80px;
  background-color: rgba(54, 54, 54, 0.8);
  position: sticky;
  top: 0px;
}
.mybtn {
  height: 40px;
  width: 150px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
}
.t-box-1 h1 {
  color: #fff;
  letter-spacing: 4px;
  font-weight: 600;
  font-size: 60px;
}
.t-box-1 p {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.nav-link {
  color: #fff;
  font-weight: bold;
}
.social-icons a {
  color: #fff;
  margin-left: 5px;
}
.about-page {
  background-color: #282828;
}
.img-section {
  margin-top: 80px;
  height: calc(100vh - 80px);
}
.img-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.t-box-2 {
  margin-top: 80px;
  height: calc(100vh - 80px);
}
.top-content {
  height: 65%;
  background-color: #323232;
}
.bottom-content {
  height: 35%;
  background-color: black;
}
.top-content h6 {
  font-size: 30px;
  font-weight: 300;
}

.top-content small {
  color: #769191;
  font-size: 15px;
  text-align: justify;
}
td {
  font-size: 14px;
}
.banner {
  height: 170px;
  background-color: #323232;
}
.banner p {
  font-size: 20px;
  font-weight: 200;
}
.banner span {
  color: #769191;
  font-size: 20px;
}
.employment {
  background-color: #282828;
}
.banner-2 {
  height: 130px;
  background-color: #282828;
}
.banner-2 h1 {
  letter-spacing: 3px;
}
.box-2 {
  height: 250px;
}
.blt {
  border-top-right-radius: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  border: 1px solid #282828;
  height: 100%;
  background-color: #323232;
}
.blt h1 {
  font-size: 80px;
  font-style: italic;
}
.brt {
  border-top-left-radius: 30px;
  color: #769191;
  border: 1px solid #282828;
  height: 100%;
  background-color: #323232;
}
.edubox {
  display: block;
  height: 50px;
  width: 50px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 50px;
}

.b2brt {
  text-align: right;
  border-top-left-radius: 0px;
}
.b2blt {
  text-align: left;
  border-top-right-radius: 0px;
}
.skills {
  background-color: #323232;
}
.skill {
  height: 80px;
  border-bottom: 1px solid #282828;
  color: white;
  letter-spacing: 3px;
}

.bar-box {
  width: 100%;
  height: 20px;
  background-color: #282828;
}
.white-bar {
  background-color: white;
  height: 5px;
  width: 80%;
}
.portfolio {
  background-color: #323232;
}
.portfolio .banner-2 h2 {
  letter-spacing: 3px;
}
.img-box {
  height: 200px;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog {
  background-color: #323232;
}
.img-box-2 {
  height: 300px;
}
.img-box-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  height: 80px;
  background-color: #282828;
}
